sudo: required
services:
    - docker

before_install:
    - docker build -t pakuthota/react-project -f Dockerfile_dev .

script:
    - docker run -e CI=true pakuthota/react-project npm run test

deploy:
    provider: elasticbeanstalk
    region: us-west-1 # Specify your region
    app: "PracticeProject" # Copy it from Elastic Beanstalk dashboard
    env: "Practiceproject-env2" # Copy it from Elastic Beanstalk dashboard
    bucket_name: "elasticbeanstalk-us-east-1-108876290112"
    bucket_path: "docker"
    access_key_id: $AWS_ACCESS_KEY
    secret_access_key: $AWS_SECRET_KEY
    on:
        branch: master
